@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Raleway:wght@300;400;600&display=swap");

@layer base {
  :root {
    --background: 30 33% 98%;
    --foreground: 234 21% 30%;

    --card: 0 0% 100%;
    --card-foreground: 234 21% 30%;

    --popover: 0 0% 100%;
    --popover-foreground: 234 21% 30%;

    --primary: 96 16% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 30 18% 93%;
    --secondary-foreground: 234 21% 30%;

    --muted: 30 18% 93%;
    --muted-foreground: 210 4% 45%;

    --accent: 96 16% 58%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 320 4% 13%;
    --foreground: 320 6% 90%;

    --card: 320 4% 17%;
    --card-foreground: 320 6% 90%;

    --popover: 320 4% 17%;
    --popover-foreground: 320 6% 90%;

    --primary: 338 56% 71%;
    --primary-foreground: 320 6% 13%;

    --secondary: 320 4% 22%;
    --secondary-foreground: 320 6% 90%;

    --muted: 320 4% 22%;
    --muted-foreground: 320 5% 65%;

    --accent: 343 52% 69%;
    --accent-foreground: 320 6% 13%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 320 4% 26%;
    --input: 320 4% 26%;
    --ring: 338 56% 71%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Raleway", sans-serif;
  }

  h1,
  h2,
  h3 {
    font-family: "Platypi", serif;
  }
}
